@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Passion+One:wght@400;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    height: 210px;
    margin-bottom: 143px;
}

header h1 {
    text-align: center;
    padding-top: 60px;
    font-size: 57px;
    font-family: 'Passion One', sans-serif;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header p {
    text-align: center;
    padding-top: 10px;
}

main p {
    margin-left: 20px;
    margin-top: 0px;
    font-size: 25px;
    max-width: 350px;
    line-height: 45px;
    font-family: 'Sriracha', 'cursive';
}


.primeiro {
    margin-bottom: 145px;
}

main div {
    background-image: url(imagens/background001.jpg);
    margin-bottom: 145px;
    background-attachment: fixed;
    background-size: cover;
    height: 730px;
    background-position: right center;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.623);
}

.imagem1 {
    padding-top: 180px;
    color: white;
    margin-left: -12px;
}

.imagem1 p {
    background-color: rgba(0, 0, 0, 0.39);
    padding-left: 12px;
}

.imagem2 {
    background-image: url(imagens/background002.jpg);
    background-position: left top;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.623);
}

footer {
    text-align: center;
    padding: 7px;
    background-color: black;
    font-size: 22px;
    color: white;
    font-family: monospace;
    margin-top: 98px;
}

footer a {
    text-decoration: none;
    color: white;
}