@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    --cor1: #0114E6;
    --cor2: #1F2CBB;
    --cor3: #303891;
    --cor4: #333666;
    --cor5: #28293C;
}

* {
    padding: 0px;
    margin: 0px;
    margin: auto;
}

body {
    background-color: #E5B879;
}

header {
    background-color: var(--cor4);
    height: 162px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
}

nav {
    background-color: var(--cor4);
}

nav a {
    color: white;
    margin-right: 38px;
    margin-left: 13px;
    font-size: 22px;
    text-decoration: none;
    max-width: 880px;
    min-width: 325px;
}

a:hover {
    background-color: var(--cor2);
    padding: 2px 3px 0px 3px;
}

article {
    background-color: white;
    max-width: 900px;
    min-width: 375px;
    box-shadow: 4px 4px 12px -4px black;
    border-radius: 0px 0px 10px 10px;

}

.especial2 {
    padding-top: 30px;
}

img {
    width: 287px;
}

h1 {
    font-size: 2em;
}

header h1 {
    text-align: center;
    color: white;
    padding-top: 78px;
}

header p {
    text-align: center;
    color: white;
}

main h1 {
    padding-bottom: 33px;
    margin-left: 9px;
    font-family: "Merriweather", serif;
    font-style: italic;
}

main h2 {
    font-family: "Merriweather", serif;
    margin-bottom: 17px;
    margin-left: 9px;
    font-style: italic;
}

main p {
    font-family: verdana, arial, Arial, Helvetica, sans-serif;
    margin-left: 9px;
    text-indent: 30px;
    line-height: 28px;
    margin-bottom: 17px;
    text-align: justify;
    max-width: 880px;
    min-width: 325px;
}

main img {
    margin: auto;
    display: block;
}

.especial {
    text-indent: 0px;
}

.imagemespecial {
    margin-bottom: 63px;
}

main ul {
    font-family: monospace;
    list-style-position: inside;
    text-indent: 30px;
    font-size: 18px;
    margin-bottom: 17px;
}

footer {
    text-align: center;
    font-size: 20px;
    background-color: var(--cor4);
    color: white;
}